@import "~bulma/bulma.sass";
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body, html {
  font-family: Lato;
} 


.navbar-item {
  &:hover,
  &:link {
    background: transparent;
  }
}