button {
	cursor: pointer;
}

img {
	width: 100%;
	height: 100%;
	max-height: 100%;
	object-fit: cover;
}

// base

body {
	background: white;
	color: #0f0f0f;
	transition: background 0.2s ease;

	font-family: 'Abel', sans-serif;
	padding: 1rem;

	@media screen and (min-width: $breakpoint) {
		padding: 2rem;
	}
}

body.dark-mode {
	background: #0f0f0f;
	color: white;
}

main {
	display: flex;
	flex-direction: column;
}

// modifications

.rounded {
	border-radius: 0.5rem;
}

// dark bode

.body.dark-mode {
}
