// @import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;800&family=Space+Mono:wght@400;700&family=Syne:wght@500;700;800&display=swap');

button {
	cursor: pointer;
	font-size: 1.4rem !important;
	letter-spacing: 0.1rem;
	font-size: 1.5rem;
	padding: 0.5rem 1rem;
	background: #677ea0;
	border: none;
	color: $light;
	border-radius: 0.5rem;
	transition: all 0.2s ease;

	&:hover {
		background: $dark;
	}

	&:active {
		transform: scale(0.95);
	}
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Space Mono', monospace;
	font-weight: 900;
}

h1 {
	font-size: 2.2rem;
	margin-bottom: 2rem;
	margin-top: 0rem;

	// font-family: 'Syne';
	font-weight: 900;

	@media screen and (min-width: $breakpoint) {
		font-size: 3rem;
		margin-bottom: 1rem;
		margin-top: 0rem;
		font-weight: 600;
	}
}

// base

p {
	margin: 1rem 0;
	line-height: 190%;
}

button {
	line-height: 160%;
	font-family: 'Space Mono', monospace;
}

body {
	background: $light;
	color: $dark;
	transition: background 0.2s ease;
	font-family: 'Space Mono', monospace;
	padding: 0.75rem;

	@media screen and (min-width: $breakpoint) {
		padding: 2rem;
	}
}

body.dark-mode {
	background: #0f0f0f;
	color: white;
}

main {
	display: flex;
	flex-direction: column;
}

a.cancel-background {
	border: none !important;
	padding: 0 !important;

	&:hover {
		background: none !important;
	}
}

a {
	text-decoration: none;
	text-decoration-thickness: 0rem;
	text-decoration-color: $hover-blue;
	transition: transform 0.1s ease, background 0.35s ease, color 0.2s ease;
	background: $light;
	display: inline-block;
	color: inherit;
	border-radius: 1rem;
	line-height: 120%;
	// color: $hover-blue;
	border: 0.15rem dashed $hover-blue;
	box-sizing: border-box;
	padding: 0.1rem 0.75rem;
	// padding: 0 0.5rem;
	&[target='_blank'] {
		text-decoration-color: $green;
		border: 0.15rem dashed $green;

		&:hover {
			text-decoration-color: $green;
			background: $green;
		}
	}

	&:hover {
		color: white;
		text-decoration-color: $hover-blue;
		background: $hover-blue;
	}

	&:active {
		transform: scale(0.95);
	}
}

// layout

.max-width {
	max-width: $max-width;
	margin: 0 auto;
}

.std-spacing {
	padding: 0.75rem;

	@media screen and (min-width: $breakpoint) {
		padding: 1rem;
	}
}

// modifications

.rounded {
	border-radius: 1rem;
}
