// colors

$dark: #262323;
$light: #f5f3f3;
// $light: #e8ecf2;
$red: #e23d3d;
$dark-red: #961212;
$dark-red-2: #961616;
$light-green: #9be253;
$dark-green: #579637;
$neon-green: #53e253;
$sky-blue: #36e2e2;
$blue: #2626e2;
$cyan: #26e2e2;
$dark-cyan: #199681;
$purple: #8a31e2;
$orange: #f97e36;
$green: #57d662;
$pink: #f9367e;
$pink-2: #ef34bd;
$hover-blue: #316fcc;

// layout

$breakpoint: 30rem;
$max-width: 100vw;

// fonts
