/* Variables and mixins declared here will be available in all other SCSS files */

$breakpoint: 30rem;
$dark: #0a0a0a;
$light: white;

$red: #e23d3d;
$dark-red: #961212;
$dark-red-2: #961616;
$light-green: #9be253;
$dark-green: #579637;
$neon-green: #53e253;
$sky-blue: #36e2e2;
$blue: #2626e2;
$cyan: #26e2e2;
$dark-cyan: #199681;
$purple: #8a31e2;
$orange: #f97e36;
$pink: #f9367e;
$pink-2: #ef34bd;
